<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset password</title>
</head>

<body>
  <h1>Reset password</h1>
  <p>Click to the link below to reset your password.</p>
  <p>
    <a href="{{tokenUrl}}" target="_blank" style="font-size: 20px;">
      {{tokenUrl}}
    </a>
  </p>

  <br>
  <p>Note: This link will expire in 2h</p>
</body>

</html>