.card-img-circle {
  background: transparent;
  border: transparent;
  cursor: pointer;
  img {
    height: 6rem;
    width: 6rem;
  }
}
.home-cat-item {
  div {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}
.top-categories {
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}
.bg-gray {
  background: #f3f3f3;
}

$grid-columns: 12 !default;
$grid-gutter-width: 0.5rem !default;

@media all and (min-width: 768px) {
  .home-cat-item {
    div {
      margin-left: 0.1rem;
      margin-right: 0.1rem;
    }
  }
  .top-categories {
    overflow-x: auto;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 992px) {
  .card-img-circle {
    img {
      max-height: 8rem;
      max-width: 8rem;
    }
  }
  .home-cat-item {
    div {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  .top-categories {
    overflow-x: auto;
    flex-wrap: wrap;
  }
}
.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.item-slider-wrapper {
  grid-column: 1 / -1;
  height: 26vw;
}

.item-slider {
  width: 100%;
  height: 100%;
  .slick-slide > div {
    margin-left: 0.6vw;
  }
  .slick-list {
    margin-left: -0.6vw;
  }
  .icon-related {
    position: absolute;
    top: 40%;
    font-size: x-large;
    color: black;
    padding: 0.5vw;
    opacity: 0.5;
    cursor: pointer;
  }

  .next {
    right: 0;
  }
  .prev {
    left: 0;
    z-index: 1;
  }
  .icon-related:hover {
    opacity: 1;
  }
}
.social-class {
  font-size: 2rem;

  i {
    margin-right: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}
.font-size-small {
  font-size: 0.9rem;
}
.text-underline {
  text-decoration: underline;
}
.btn-cart {
  &:hover {
    i {
      transition: 0.5s;
      transform: scale(1.2);
      color: #ee5132;
    }
  }
}
