@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
  .navbar-nav > li > .dropdown-menu {
    background-color: #343a40;
  }

  .dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0;
    z-index: 100;
  }
  .dropdown-toggle::after {
    transition: transform 0.15s linear;
  }

  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
}

.card-image {
  cursor: pointer;
  width: 100%;
  height: 20vw;
  object-fit: cover;
}
.card-img-top {
  cursor: pointer;
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.card-img-top-50 {
  cursor: pointer;
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
.img-15 {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
